steps:
- task: JfrogCliV2@1
  name: jfrogStep
  inputs:
    jfrogPlatformConnection: 'hts2'
    command: 'jf rt ping' # Triggering a simple command to initiate authentication

- powershell: |
    # Print the JFrog Access Token created via OIDC
    # Note: Azure DevOps may mask this in the logs for security (***)
    Write-Host "The OIDC Token is: $env:OIDC_TOKEN"
  env:
    OIDC_TOKEN: $(jfrogStep.oidc_token)
  displayName: 'Print JFrog OIDC Token'