# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: JfrogCliV2@1
  name: jfStep
  inputs:
    jfrogPlatformConnection: 'hts2'
    command: 'jf rt ping'
    # Ensure OIDC is actually being used in the Service Connection 'hts2'

- task: PowerShell@2
  displayName: 'Debug OIDC Token'
  env:
    # Accessing the token from the task output variables
    MY_TOKEN: $(jfStep.oidc_token) 
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Checking if token exists..."
      # This will likely print *** because Azure DevOps masks secrets automatically
      Write-Host "OIDC Token: $env:MY_TOKEN"
      
      # If you MUST see the characters (NOT RECOMMENDED for production), 
      # you can trick the masker by spacing it out, but this is a security risk:
      # $spacedToken = $env:MY_TOKEN -split '' -join ' '
      # Write-Host "Spaced Token: $spacedToken"


            - task: CmdLine@2
              inputs:
                script: | 
                  set -x
                  # curl --location $(AZURETOKENURL) --header 'Content-Type: application/x-www-form-urlencoded' --data 'client_id=$(AZURECLIENTID)&grant_type=client_credentials&scope=$(AZURESCOPE)&client_secret=$(AZURECLIENTSECRET)' 
                  echo "##vso[task.setvariable variable=idToken;issecret=true]$(curl --location '$(AZURETOKENURL)' --header 'Content-Type: application/x-www-form-urlencoded' --data 'client_id=$(AZURECLIENTID)&grant_type=client_credentials&scope=$(AZURESCOPE)&client_secret=$(AZURECLIENTSECRET)' | jq .access_token | tr -d '"')" 
              displayName: 'Acquire Azure ID Token' 
              env: 
                AZURECLIENTSECRET: $(azureClientSecret) 
            
            - task: CmdLine@2
              inputs:
                script: 'echo "ID token: $(idToken)"'
              displayName: 'Print Azure ID token'  

            - task: CmdLine@2
              inputs:
                script: |
                  set -x
                  echo "##vso[task.setvariable variable=jfrogToken;issecret=true]$(curl --location '$(JFROGJPDURL)/access/api/v1/oidc/token' --header 'Content-Type: application/json' --data '{"grant_type": "urn:ietf:params:oauth:grant-type:token-exchange", "subject_token_type": "urn:ietf:params:oauth:token-type:id_token", "subject_token": "$(idToken)", "provider_name": "<provider_name>" } ' | jq .access_token | tr -d '"')"
              displayName: 'Acquire JFrog token' 

            - task: CmdLine@2
              inputs:
                script: 'echo "ID token: $(jfrogToken)"'
              displayName: "Display acquired JFrog token" 
            
            - task: CmdLine@2
              inputs:
                script: | 
                  set -x
                  curl -fkL https://getcli.jfrog.io/v2-jf | sh
                  mkdir -p /tmp/jftool
                  mv jf /tmp/jftool/
                  /tmp/jftool/jf c add --url $(JFROGJPDURL) --access-token $(jfrogToken) --overwrite oidctest
                  /tmp/jftool/jf c use oidctest
                  /tmp/jftool/jf c s
                  /tmp/jftool/jf rt ping
                  curl -XPUT -H "Authorization: Bearer $(jfrogToken)" "$(JFROGJPDURL)/artifactory/example-repo-local/azure/oidc--final-azure-pipeline-poc-$(date +%Y%m%d%H%M%S)" -d "oidc-azure-cicd-"
              displayName: "Setup JF CLI and Upload text file" 
              env: 
                CI: True