steps:
- task: JfrogCliV2@1
  name: jfrogSetup
  inputs:
    jfrogPlatformConnection: 'hts2'
    command: 'jf rt ping'

- task: Bash@3
  displayName: 'Download via Curl'
  env:
    # Capturing the OIDC token from the setup task
    JF_TOKEN: $(jfrogSetup.oidc_token) 
  inputs:
    targetType: 'inline'
    script: |
      # Replace <ARTIF_URL> with your actual instance URL (e.g., https://myinstance.jfrog.io/artifactory)
      # Replace <REPO_PATH> with the path to your file
      
      echo "Starting download..."
      curl -H "Authorization: Bearer $JF_TOKEN" \
           -L "https://hts2.jfrog.io/artifactory/manu-generic-local/microsoft.testplatform.testhost.17.14.1.nupkg" \
           --output microsoft.testplatform.testhost.17.14.1.nupkg \
           --fail
           
      echo "Download complete."

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "OIDC Username: $($jfStep.oidc_user)"
      echo "OIDC Token: $jfrogSetup:oidc_token"