steps:
- task: JfrogCliV2@1
  name: jfrogSetup
  inputs:
    jfrogPlatformConnection: 'hts2'
    command: 'jf rt ping'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "OIDC Username: $($jfStep.oidc_user)"
      echo "OIDC Token: $env:oidc_token"
